# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset files
data/raw/
data/processed/
data/monthly_batches/
data/reports/

# Saved models
models/
*.pkl
*.joblib

# MLflow
mlruns/
mlflow.db

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/